body {
    margin: 0;
}

.contain {
    background-color: #5099f4;
    display: flex;
}

img {
    width: 50px;
    height: auto;
    padding: 5px;
}

.items-1 {
    flex-grow: 1;
}

.items-2:hover,.items-3:hover {
    background-color: #3a73b8;
}