/* {
    border: 2px solid red;
} */

* {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}

.box-one {
    background-color: blue;
    border: 0px solid green;
}

.box-two {
    background-color: plum;
    border: 0px solid orange;
}