/* * {
    border: 1px solid;
} */

/* h1 {
    width: 100%;
    height: 500px;
    min-width: 600px;
} */

h2 {
    text-transform: lowercase;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-transform: capitalize;
    width:300px;
    margin: 10px auto 10px auto;
    /* display: none; */
    visibility: hidden;
}

p {
    height:50px;
    overflow: scroll;    
}

/* .underline {
    text-decoration: underline;
}

.none {
    text-decoration: none;
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.blink {
    text-decoration: blink;
}

.line-height {
    line-height: 2;
}

.letter-spacing {
    letter-spacing: 0.2em;
}

.word-spacing {
    word-spacing: 2em;
} */

blockquote>p:first-letter {
    font-size: 200%;
}

.box {
    box-shadow:1px 1px 1px 2px;
}

ul {
    /* list-style-type: none; */
    /* list-style-type: circle;  */
    list-style-type: square; 
    list-style-position: outside;
}

ol {
    /* list-style-type: decimal; */
    /* list-style-type: decimal-leading-zero; */
    list-style-type: lower-latin;
    list-style-position: inside;
}