/* font */
@font-face {
    font-family: "NewYorker";
    src: url("font/New-Yorker-Font/NYIrvin.ttf");
}

@font-face {
    font-family: "Graphik";
    src: url("font/Graphik-Font-Family/GraphikMedium.otf");
}

@font-face {
    font-family: "CaslonPro";
    src: url("font/New-Yorker-Font/ACaslonPro-Bold.otf");
}
